<div class="container">
    <!-- <div class="row"> -->
        <div class="card">
            <div class="card-body col-5 justify-content-center shadow">
                <div class="text-end">
                    <div class="text-uppercase h2"><span class="h4">Category</span> :{{title}}</div>
                    <div class=" h5"><span>Total</span>:${{total}}</div>
                    <div class=" h5"><span>goods</span>: {{goods}}</div>
                    <div class=" h5"><span>Quantity</span>: {{quantity}}</div>
                    <div class=" h5"><span>remain</span>:${{remain}}</div>
                    <div class="h5"><span>amt spent</span>: <span>${{spent}}</span></div>
                  </div>
            </div>
        </div>
    <!-- </div> -->
</div>
